extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Ошибка!
			|В процессе оформления заказа прозошла ошибка.
			br
			|Возможно Вы неправильно заполнили поля формы оплаты.
			br
			br
			|Вы можите связаться с нами по адресу ...