extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Администрирование
			b Добавить:
			br			
			a(href='/auth/add') курс
			|&nbsp;|&nbsp;
			a(href='/auth/schedule') расписание
			br
			br
			b Редактировать:
			br
			br
			b Журнал:
			br
			a(href='/auth/view') заказы