extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Редактировать			
			a(href='/auth/add') Добавить курс
			br
			a(href='/auth/schedule') Расписание
			br
			a(href='/auth/view') Просмотр заказов