extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Что вас интересует?
			.scroll
				ol
					li
						a.list(href='/courses/fon') Проблемы фонетики
					li
						a.list(href='/courses/methods') Методика обучения по курсу "Время говорить по-русски!"
					li
						a.list(href='/courses/lessons') Занятия по выбранным урокам курса с использованием дополнительных учебных материалов
					li
						a.list(href='/courses/translate') Как правильно по-русски
					li
						a.list(href='/courses/country') Разговорная практика по следующим темам страноведения