extends ../layout

block content
	.content
		.courses_block
			.title
				h2 What are you interested in? 
			.scroll
				ol
					li
						a.list(href='/courses/fon') Russian phonetics
					li
						a.list(href='/courses/methods') How to teach using the course “Time to speak Russian!”
					li
						a.list(href='/courses/lessons') Lessons based on lessons of the course using supplementary materials
					li
						a.list(href='/courses/translate') What’s correct? 
					li
						a.list(href='/courses/country') Speaking practice on the topics of culture