extends ../layout

block content
	.content
		.courses_block
			.title
				h2= item.title
			//- .scroll_item= item.description
			|Выберите дату:
			br
			br
			form.f3(action='', method='post')
				select(name='date')
					- if (item.schedule == '')
						option занятий нет
					- else
						each i in item.schedule
							option(value=i)=i
				p.select_date ▼
				br
				br
				br
				|Цена:
				br
				br
				.price
					input(type='hidden', name='price', value=item.price)
					b= item.price + ' Рублей'
				br
				- if (item.schedule != '')
					.submit_btn
						a.submit_btn_text(href='#') оплатить