extends ../layout

block content
	.registr_block
		form.f2(action='/registr', method='post')
			.registr_input_block
				|Login:
				label.error(for='login')
				input.ip_registr#login(type='text', name='login')
				br
				|Password:
				label.error(for='password')
				input.ip_registr#password(type='password', name='password')
				br
				|First name:
				label.error(for='name')
				input.ip_registr#name(type='text', name='name')
				br
				|Email:
				label.error(for='email')
				input.ip_registr#email(type='email', name='email')
				br
				|Skype:
				label.error(for='skype')
				input.ip_registr#skype(type='text', name='skype')					
		img.cow(src='/img/design/cow.png')
		.r_btn
				a.r_btn_text(href='#') register