extends ../layout

block content
	.registr
		form.f2(action='/registr', method='post')
			.i_block
				input(type='text', name='login', value='john')
				input(type='text', name='password', value='pass')
				input(type='text', name='name', value='johny')
				input(type='text', name='email', value='email@mail.com')
		img.cow(src='/img/design/cow.png')
		.r_btn
				a.r_btn_text(href='#') Зарегистрироваться