extends ../layout

block content
  .form
    form.f1(action='/', method='post')
      .i_block
        .i_block_text
          |&nbsp;&nbsp;Логин:
          br
          br
          |Пароль:
        input.ip_auth(type='text', name='login', value='john')
        br
        input.ip_auth(type='text', name='password', value='pass')
        br
        br
        .submit
          .submit_text ВОЙТИ
  img.logo(src='/img/design/logo.png')
  .arrow
    a.r_text(href='/registr') зарегистрироваться