extends ../layout

block content
  .form
    form.f1(action='/', method='post')
      .i_block
        .i_block_text
          |&nbsp;&nbsp;Login:
          br
          br
          |Password:
        input.ip_auth(type='text', name='login', placeholder='Логин')
        br
        input.ip_auth(type='password', name='password', placeholder='Пароль')
        br
        br
        .submit
          a.submit_text(href='#') Sign in
  img.logo(src='/img/design/logo.png')
  .arrow
    a.r_text(href='/registr') Register