extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Заказы
			.scroll
				each user in users
					b= 'Имя: ' + user.name
					br
					b= 'Email: ' + user.email
					br
					b= 'Skype: ' + user.skype
					br
					b= 'Тема: ' + user.title
					br
					b=  'Расписание: ' + user.schedule
					br
					br
					b --------
					br
					br