extends ../layout

block content
	h2 Вход
	- if(!status)
		b Неверный логин или пароль
		br
		br
	form(action='/login', method='post')
		|Login:
		br
		input(type='text', name='user', value='john')
		br
		|Password:
		br
		input(type='text', name='password', value='pass')
		br
		br
		input(type='submit', value='Отправить!')