extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Заголовок
			| Спасибо вам #{name}, за то что преобрели наш курс!
			br
			br
			|Преподаватель свяжется с вами, чтобы уточнить время проведения занятия.
			br
			br
			|В любой момент Вы можите посмотреть свое расписание в разделе "Ваши курсы".
			br
			//- form.f3(action='', method='post')
			//- 	input(type="text", name="orderid")
			//- 	input(type="submit", value="Отправить")