extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Заголовок
			| Спасибо вам #{name} за то что преобрели наш курс!
			br
			br
			|Наш преподаватель свяжется с вами чтобы уточнить время проведения занятия.
			br
			br
			|Вы можите уточнить свое расписание в любой момент в разделе "Ваши курсы".