extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Расписание
			.scroll
				- if (items)
					ol
						each item in items
							li= item.title + ' '
							each date in item.schedule
								b= date
							br
							br		
				- else
					b У вас нет курсов