extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Расписание
			.scroll
				- if (!items)
					b У вас нет курсов
				- else
					ol
						each item in items
							li= item.title + ' '
							each date in item.schedule
								b= date
							br
							br