extends ../layout

block content
	.content
		.courses_block
			.title
				h2 О Программе
			|Наша программа позволит вам участвовать в дистанционных уроках-консультациях по русскому языку как иностранному. После регистрации на сайте вы  сами выбираете тему занятия и время. Обратите внимание, что время уроков-консультаций указано московское! Длительность занятия 45 минут  плюс 15 минут, которые мы дарим вам в подарок!
			br
			br
			|Индивидуальные уроки-консультации проводятся  квалифицированными преподавателями  МГУ в онлайн режиме с помощью программы Skype. За возникающие технические проблемы в программе Skypeсоздатели сайта ответственности не несут.