extends ../layout

block content
	.content
		.courses_block
			.title
				h2 О Программе
			|Наша программа позволит вам получать дистанционные уроки-консультации по русскому языку как иностранному.
			br
			br
			|Вы сами выбираете тему консультации из предложенного авторами программы списка тем. Индивидуальные уроки-консультации проводятся  квалифицированными преподавателями  МГУ в онлайн режиме с помощью программы Skype. На сайте находится расписание, где можно выбрать время для индивидуального занятия.