extends ../layout

block content
	.content
		.courses_block
			.title
				h2 About the Programme 
			.scroll
				p Our programme is designed for online consultations on Russian as a foreign language’ After the sign-up, you choose the topic and time for your consultation. Please note that we are on Moscow time! Duration of a consultation is 45 minutes, plus you get 15 minutes for free!
				p Lessons and consultations are held by qualified MSU teachers using Skype.
				p The designers of the site aren’t responsible for any technical problems with the Skype software.