extends ../layout

block content
	.content
		.courses_block
			.title
				h2 О Программе
			|Наша программа позволит вам участвовать в дистанционных уроках-консультациях по русскому языку как иностранному. После регистрации на сайте вы  сами выбираете тему занятия и время. Обратите внимание, что время уроков-консультаций указано московское! Каждое занятие длится 1 час 10 минут.  
			br
			br
			|Индивидуальные уроки-консультации проводятся  квалифицированными преподавателями  МГУ в онлайн режиме с помощью программы Skype. За возникающие технические проблемы в программе Skype создатели сайта ответственности не несут.