extends ../layout

block content
	.content
		.courses_block
			.title
				h2 О Программе
			.scroll
				p Наша программа позволит вам участвовать в дистанционных уроках-консультациях по русскому языку как иностранному. После регистрации на сайте вы  сами выбираете тему занятия и время. Обратите внимание, что время уроков-консультаций указано московское! Длительность занятия 45 минут  плюс 15 минут, которые мы дарим вам в подарок!
				p Индивидуальные уроки-консультации проводятся  квалифицированными преподавателями  МГУ в онлайн режиме с помощью программы Skype.
				p За возникающие технические проблемы в программе Skype создатели сайта ответственности не несут.