a:hover {border-bottom:2px solid white;}
a.list:hover {/*text-decoration:underline;*/ border-bottom:2px solid #3954A5;}
a {text-decoration:none;}
body {font-family: 'PT Sans', sans-serif; font-size: 16px;}
.title {width: 500px; position: relative; color: red;}
.list {font-size: 18px; color: #3954A5;}
.scroll {border: 0px solid black; width: 500px; height: 240px; overflow: auto;}

/*
	index block
*/

.main {margin: 0 auto; width: 1200px; height: 600px;}
.bg {width: 1000px; height: 600px; background: url(/img/design/bg.png) no-repeat; background-size: 100%; margin: 0 auto; position: relative; top: 50px}
.head {width: 650px; height: 300px; position: absolute; top: -40px; left: -20px; background: url(/img/design/head.png) no-repeat; background-size: 100%;}
.head_text {width: 500px; height: 150px; top: 20px; left: 50px; color: white; position: relative;}
.head_text_title {font-size: 24px; font-weight: bold;}
.auth {width: 180px; height: 30px; top: -25px; left: 650px; position: absolute;}
.flags {width: 150px; height: 50; position: absolute; top: -25px; left: 900px;}
.flag {width: 60px; height: 40px;}
.logo {width: 600px; position: absolute; top:240px; left: 500px;}
.cloud {width: 180px; position: absolute; top:50px; left: 860px;}
.form {width: 300px; height: 180px; position: absolute; top: 200px; left: 250px; background: url(/img/design/form.png) no-repeat; background-size: 100%;}
.arrow {width: 200px; height: 70px; position: absolute; top: 155px; left: 340px; background: url(/img/design/arrow.png) no-repeat; background-size: 100%;}
.menu {position: absolute; width: 240px; height: 300px; top: 160px; left: 10px;}

.select {margin-top: 10px; background: url(/img/design/select.png) no-repeat; background-size: 100%;}

.courses {margin-top: 10px; background: url(/img/design/you.png) no-repeat; background-size: 100%;}
.you {margin-top: 10px; background: url(/img/design/you.png) no-repeat; background-size: 100%;}
.contacts {margin-top: 10px; background: url(/img/design/you.png) no-repeat; background-size: 100%;}
.about {margin-top: 10px; background: url(/img/design/you.png) no-repeat; background-size: 100%;}

.item {width: 195px; height: 65px; position: relative; left: 10px;}
.item_text {position: relative; top: 20px; left: 40px; color:white;}

.cie {width: 200px; height: 60px; position: absolute; top: 500px; left: -30px; background: url(/img/design/cie.png) no-repeat; background-size: 100%;}
.cie_text {width: 170px; height: 35x; position: relative; top: 10px; left: 15px; color: white; font-size: 14px;}

/*
	index block auth
*/

.f1 {top: 40px; left: 45px; position: relative;}
.r_text {position: relative; top: 22px; left: 12px; color:white; font-size: 16px;}
.ip_auth {font-size: 18px; width: 120px; float: right;}
.submit {width: 100px; height: 30px; float: right; color: white; background-color: #3954A5; position: relative;}
.submit_text {top: 2px; left: 30px; position: relative; color: white; font-size: 18px;}
.i_block {width: 190px; height: 100px;}
.i_block_text {width: 60px; height: 60px; top: 0px; left: 3px; position: relative; float: left;}

/*
	registr block
*/

.registr_block {width: 650px; height: 450px; position: absolute; top: 140px; left: 270px; background: url(/img/design/registr.png) no-repeat; background-size: 95%;}
.f2 {top: 80px; left: 120px;  position: relative;}
.registr_input_block {width: 350px; height: 280px; font-size: 18px;}
.ip_registr {font-size: 18px; width: 350px;}
label.error {color: red;}
.cow {width: 160px; height: 110px; position: relative; top: -40px; left: -80px;}
.r_btn {width: 200px; height: 70px; position: absolute; top: 320px; left: 500px; background: url(/img/design/arrow.png) no-repeat; background-size: 100%;}
.r_btn_text {position: relative; top: 22px; left: 13px; color: white;}

/*
	courses block
*/

.content {width: 850px; height: 450px; position: absolute; top: 130px; left: 270px; background: url(/img/design/content.png) no-repeat; background-size: 100%;}
.courses_block {top: 40px; left: 60px; width: 360px; height: 300px; position: relative;}

/*
	item block
*/

select {
    -webkit-appearance: none;
    border: 0;
    padding-right: 30px;
    font-size: 18px;
    outline:none;
    /*background-color: #8CCDF1;*/
}
p { display: inline; margin-left: -30px;}
.submit_btn {width: 220px; height: 60px; position: absolute; top: 280px; left: 100px; cursor: pointer; background: url(/img/design/submit.png) no-repeat; background-size: 100%;}
.submit_btn_text {top: 15px; left: 70px; position: relative; color: white;}
.f3 {/*background-color: #8CCDF1;*/ border: 3px solid #8CCDF1; top: 10px; width: 145px; height: 25px;}
.scroll_item {width: 500px; height: 140px; position: relative; top: 10px; font-size: 16px;}
.price {border: 3px solid red; color: red; font-size: 16px; width: 100px; text-align: center;}
