extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Контакты
			|Дистанционные занятия проводят профессиональные преподаватели МГУ,
			|создатели авторского мультимедийного курса "Время говорить по-русски".
			br
			br
			a(href='mailto:annapetanova@gmail.com') Анна Петанова
			|&nbsp;и&nbsp;
			a(href='mailto:atkovalenko@gmail.com') Юлия Коваленко