extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Contact us
			|Online lessons are held by the Moscow State University teachers,
			|authors of the course “It’s Time to Speak Russian!”
			br
			br
			a(href='mailto:annapetanova@gmail.com') Anna Petanova
			|&nbsp;и&nbsp;
			a(href='mailto:atkovalenko@gmail.com') Yulia Kovalenko